# In Class Activity - Spotify Database - SQL Practice

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Justin Davis</br>
Date: 02/20/25
<br>
<br>

In [1]:
# Load necessary packages:
from sqlalchemy import create_engine, inspect, text # Database navigation
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

In [3]:
# Set working directory (If needed)
#import os
#os.chdir('')

In [ ]:
# Print the columns in the database:

In [4]:
# Create a SQLite database and engine
db_file = "spotify_data.db"
engine = create_engine(f"sqlite:///{db_file}")

In [5]:
# Inspect the database to list the fields
inspector = inspect(engine)
columns = inspector.get_columns("spotify_history")

# Print column names
print("Columns in spotify_history table:")
for col in columns:
    print(col["name"], "-", col["type"])

Columns in spotify_history table:
ts - TEXT
platform - TEXT
ms_played - BIGINT
conn_country - TEXT
ip_addr - TEXT
master_metadata_track_name - TEXT
master_metadata_album_artist_name - TEXT
master_metadata_album_album_name - TEXT
spotify_track_uri - TEXT
episode_name - FLOAT
episode_show_name - FLOAT
spotify_episode_uri - FLOAT
audiobook_title - FLOAT
audiobook_uri - FLOAT
audiobook_chapter_uri - FLOAT
audiobook_chapter_title - FLOAT
reason_start - TEXT
reason_end - TEXT
shuffle - BOOLEAN
skipped - BOOLEAN
offline - BOOLEAN
offline_timestamp - FLOAT
incognito_mode - BOOLEAN
year - BIGINT

For practice, there are not multiple tables in this database. There is only one table named spotify_history.

Metadata for this database can be found here: https://github.com/MelissaLaurino/SpotifyStreamingHistory

We can use COUNT( * ) to summarize and count occurrences in SQL. Use COUNT( * ) below:

Query 1: <br>
Find the top 30 artists listened to in the year 2024.

In [16]:
with engine.connect() as connection:  # Establish a connection
    query_artists = text("""SELECT master_metadata_album_artist_name AS artist 
                       FROM spotify_history
                       WHERE year LIKE '%2024%'
                       GROUP BY artist
                       ORDER BY ms_played DESC
                       LIMIT 30
                       """) 
    artists = pd.read_sql(query_artists, connection)  # Use pandas to execute the query and fetch results

artists

                   artist
0      Jefferson Airplane
1        Michael Berresse
2         Letters To Cleo
3             Gin Wigmore
4                 Ruth B.
5    Bea and her Business
6            Paloma Faith
7             Alina Baraz
8               YG Marley
9                YUNGBLUD
10           Annie Lennox
11              Sylvester
12          Queen Latifah
13           Harry Styles
14          Amy Winehouse
15             Lord Huron
16                    M83
17            Laura Osnes
18             Steely Dan
19  Daisy Jones & The Six
20       Tom Alan Robbins
21              Jake Bugg
22            Ally Brooke
23             Diana Ross
24           Beastie Boys
25                 Cassie
26            Beach House
27                  Drake
28           Donna Summer
29             Winter Aid

Query 2: <br>
Find the top 30 songs listened to in the year 2017.

In [17]:
with engine.connect() as connection:  # Establish a connection
    query_track = text("""SELECT master_metadata_track_name AS track
                       FROM spotify_history
                       WHERE year LIKE '%2017%'
                       GROUP BY track
                       ORDER BY ms_played DESC
                       LIMIT 30
                       """) 
    track = pd.read_sql(query_track, connection)  # Use pandas to execute the query and fetch results

track

                                                track
0                                      So Much Better
1                                        Take Me Down
2                                       At the Ballet
3   Don't Let Me Down - Recorded at Spotify Studio...
4       Islands In The Stream - The Voice Performance
5                                 What I Did for Love
6                   Look What They've Done to My Song
7                                          Bitter End
8                            The Shrine / An Argument
9                                        Shape of You
10                          Malibu (feat. Emily Zeck)
11                                Chip On My Shoulder
12                                     Ain't My Fault
13                                          The Strip
14                                   Around the World
15            Rockabye (feat. Sean Paul & Anne-Marie)
16                   Hotel California - 2013 Remaster
17                                 We Belong Together
18  (I've Had) The Time of My Life - From "Dirty D...
19                         What If I - Guitar Version
20        Ex-Factor - Recorded at Spotify Studios NYC
21  Get Lucky (feat. Pharrell Williams and Nile Ro...
22  Bohemian Rhapsody - Live at Amway Center, Orla...
23                                  Bohemian Rhapsody
24                                   Leave Your Lover
25                 Lucky - Live from Spotify Sessions
26                          Freedom! '90 - Remastered
27                                          Barcelona
28   Lose Yourself to Dance (feat. Pharrell Williams)
29                                Ghosts That We Knew

Query 3: <br>
Ask a question and create your own!

In [18]:
with engine.connect() as connection:  # Establish a connection
    query_track = text("""SELECT master_metadata_track_name AS song, SUM(ms_played) / 60000 AS minutes_played
                       FROM spotify_history
                       WHERE year LIKE '%2017%'
                       GROUP BY song
                       ORDER BY minutes_played DESC
                       LIMIT 30
                       """) 
    track = pd.read_sql(query_track, connection)  # Use pandas to execute the query and fetch results

track

                                                 song  minutes_played
0                                              Malibu             677
1                                        Shape of You             489
2                     It Ain’t Me (with Selena Gomez)             414
3                                               Close             326
4                           Havana (feat. Young Thug)             277
5                                        Take Me Down             255
6                                              Anyway             227
7             Rockabye (feat. Sean Paul & Anne-Marie)             216
8                                    Week Without You             215
9                                        Love Someone             201
10                                      All Right Now             193
11                                            Rainbow             188
12                                            Praying             186
13                                      Hunt You Down             178
14                                            Perfect             160
15                                              Vibe.             159
16                                        Galway Girl             159
17                                          I'm Stuck             156
18                                 Drunk on Your Love             153
19                                               Dive             146
20                                              Boots             146
21                                           Bad Mood             139
22                  Woman (feat. The Dap-Kings Horns)             138
23                                      Stay Together             137
24  Old Flames (Can't Hold A Candle To You) (feat....             134
25                                   Never Forget You             118
26                                     Whiskey's Fine             116
27                                         Stone Cold             113
28                         What If I - Guitar Version             112
29                              A Long And Happy Life             112

In [19]:
#Disconnect from the database. Always remember to disconnect :) 
connection.close()

# Assignment #5 - Data Gathering and Warehousing - DSSA-5102

<b>Only Murders in the...Database?</b><br>
An introduction to navigating SQL databases using R and Jupyter Notebook. <br>
<br>
Congrats! You have solved the murder from Assignment #4, let's practice more queries in SQL City! <br>
<br>
Your task for <b>Assignment #5</b> is to complete the following objectives:<br>
You are a data scientist that was hired by SQL City. Your objectives are as follows:<br>
- Objective 1: The town is willing to fund more training for officers in SQL City based on the type of crime that is most committed. The training would help them identify the clues that indicate these two types upon arrival on a crime scene. As a data scientist, what crime type would you advise needs more training for officers in SQL city? What crime was committed the most in SQL City within the database date range? Save your query as a dataframe and quickly add a ggplot2 bar graph visual to support your recommendation.<br>
- Objective 2: The town has also received more funding to encourage DOUBLE overtime for officers in SQL City during the month with the highest crime rate through out the date range of the database. What month would you advise the town to encourage officer overtime? <br>
- Objective 3: To thank the officers for their extra training and overtime, the town will pay for their monthly gym membership. They want to give the officers the membership that the least amount of civilians have to avoid being recognized daily as the town heros. The membership can be used in any town. What membership does the town give them?<br><br>
<b>--</b>Add detailed comments to explain EVERY query or SQL command you use while we are still learning and practicing. I have my steps outlined, but please add more cells inbetween for additional queries! There is no limit on the number of queries you can use. <br>
<b>--</b>For each query include comments such as "SELECT all records FROM table WHERE column name = X"<br>
<b>--</b>Answer the prompts in markdown cells. Justify your response. A simple yes/no answer will receive no credit.<br>

Recommended Readings: Chapters 4-7 in Getting Started with SQL by Thomas Nield<br><br>

SQL Dictionary: https://www.w3schools.com/sql/sql_ref_join.asp

This fabulous database was created by @NUKnightLab on Github and can be found here: https://github.com/NUKnightLab/sql-mysteries

In [1]:
# Load necessary libraries

In [2]:
# Connect to our .db file

In [35]:
# For a quick reference for tables and columns, refer to schema on Blackboard, or list the tables and fields below:

We can use the COUNT command to explore our queries further. COUNT will count the number of records that meet the specified criteria.
Additional examples using COUNT: https://www.w3schools.com/sql/sql_count.asp

In [4]:
#Practice analyzing COUNTS in data tables with SQL queries:
#Brainstorming for Objective 1
#We can find the top ten cities within our Murder Mystery database that had the most crimes by using the COUNT SQL command.
#SELECT the cities that have the most counts within the table crime_scene_report and
#GROUP the results BY city and ORDER BY a DESC count, only show a limit of 10 records:
practice_cities <- dbSendQuery(db, "SELECT city, COUNT(*) as count
                            From crime_scene_report
                            GROUP BY city
                            ORDER BY count DESC
                            LIMIT 10")
dbFetch(practice_cities)

#Looks like SQL City and Murfeesboro have the highest number of crimes! 

#Use COUNT(*) as count to determine the answers to the objectives below.

   city         count
1  SQL City     9
2  Murfreesboro 9
3  Toledo       8
4  Jersey City  8
5  Evansville   8
6  Duluth       8
7  Wilmington   7
8  Waterbury    7
9  Reno         7
10 Portsmouth   7

<b>Objective 1:</b> The town is willing to fund more training for officers in SQL City based on the type of crime that is most committed. The training would help them identify the clues that indicate these two types upon arrival on a crime scene. As a data scientist, what crime type would you advise needs more training for officers in SQL city? What crime was committed the most in SQL City within the database date range? Save your query as a dataframe and quickly add a bar graph visual to support your recommendation.

In [ ]:
# Graph your results:

Answer:

<b>Objective 2:</b> The town has also received more funding to encourage DOUBLE overtime for officers in SQL City during the month with the highest crime rate through out the date range of the database. What month would you advise the town to encourage officer overtime?

Answer:

<b>Objective 3:</b> To thank the officers for their extra training and overtime, the town will pay for their monthly gym membership. They want to give the officers the membership that the least amount of civilians have to avoid being recognized daily as the town heros. The membership can be used in any town. What membership does the town give them?

Answer:

In [ ]:
#Disconnect from the database. Always remember to disconnect :)